<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otowatertech">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sonucPirinc"></activity>
        <activity android:name=".sonucMisir" />
        <activity android:name=".sonucBugday" />
        <activity android:name=".sonucArpa" />
        <activity android:name=".islemPirinc" />
        <activity android:name=".Pirinc" />
        <activity android:name=".Misir" />
        <activity android:name=".islemMisir" />
        <activity android:name=".islemBugday" />
        <activity android:name=".islemArpa" />
        <activity android:name=".Bugday" />
        <activity android:name=".Arpa" />
        <activity android:name=".secimEkrani" />
        <activity android:name=".HavaDurumu" />
        <activity android:name=".hakkinda" />
        <activity android:name=".islem" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>